node_modules
test

.idea/
.settings
*.log

.git
.gitignore
.env
.jshintignore
.jshintrc
.npmignore
.bash_history
.cache
.codeclimate.yml
.travis.yml

# DevOps
*.box
.vagrant

appveyor.yml
LICENSE
README.md
CHANGELOG.md
docker-compose.yml
Vagrantfile
EmployeeScheduling.json.postman_collection
LOCALHOST.postman_environment
